@import url("_reset.css");
@import url("_variables.css");

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1rem;
}

.logo {
    height: 3.125rem;
    width: 11rem;
}

button {
    cursor: pointer;
    padding: 1rem;
}

input {
    font-weight: 400;
    border: none;
}

.hidden {
    height: 1px;
    overflow: hidden;
    margin: -1px;
    position: absolute;
    width: 1px;
}

