@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --font-family: 'Raleway', sans-serif;

    --color-text-input: #A2A2A2;
    --color-background-search: #F5F5F5;
    --color-white: #FCFCFC;
    --color-100: #2A7AE4;
    --color-80: #5595E9;
    --color-20: #D4E4FA;
    --color-10: #EAF2FD;
}