@import url(components/productsList.css);

.selected-product {
    align-items: center;
    background-color: var(--color-grey);
    display: flex;
    gap: 1rem;
    padding: 4rem 6rem 0;
}

.selected-product__box-img {
    height: 403px;
    overflow: hidden;
    width: 40%;
}

.selected-product__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.selected-product__box-infos {
    display: flex;
    flex-direction: column;
    width: 58%;
}

.selected-product__title {
    font-size: 3.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.selected-product__price {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.selected-product__description {
    line-height: 1.5rem;
}

/*Tablet*/
@media screen and (max-width: 850px) {
    .selected-product {
        padding: 2rem 1rem 0;        
    }
    .selected-product__box-img {
        height: 200px;
        width: 35%;        
    }
    .selected-product__box-infos {
        width: 60%;
    }
    .selected-product__title {
        font-size: 1.375rem;
    }
    .selected-product__description {
        font-size: .875rem;
        line-height: 1.2rem;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    .selected-product {
        flex-direction: column; 
        padding: 0 1rem;      
    }
    .selected-product__box-img {
        width: 100vw;        
    }
    .selected-product__img {
        width: 100%;
    }
    .selected-product__box-infos {
        margin-bottom: 1.5rem;
        width: 100%;
    }
}