@import url(../components/input.css);

.footer__interactive {
    background-color: var(--color-10);
    display: grid;
    gap: 5rem;
    grid-template-columns: auto auto 1fr;
    padding: 4rem 6rem;
}

.footer__links {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.footer__form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.btn--footer {
    width: 10.33rem;
}

.footer__info {
    font-weight: 500;
    line-height: 1.174rem;
    margin: 2rem 0;
    text-align: center;
}

/*tablet*/
@media screen and (max-width: 850px) {
    .footer__interactive {
        gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
         "logo form"
         "nav form"        ;
        padding: 2rem 1rem;
    }
    .footer__interactive .logo {
        grid-area: logo;
    }
    .footer__nav {
        grid-area: nav;
    }
    .footer__form {
        grid-area: form;
        margin-left: 3rem;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    .footer__interactive {
        display: flex;
        flex-direction: column;
    }
    .logo {
        align-self: center;
    }
    .footer__nav {
        text-align: center;
    }
    .footer__form {
        margin-left: 0rem;
    }
}