.header {
    align-items: center;
    display: flex;
    gap: 2rem;
    height: 7.2rem;
    padding: 0 6rem;
}

.header__search {
    height: 2.5rem;
    width: 35%;    
}

.header__search__input {
    background-color: var(--color-grey);
    border-radius: 20px;
    font-size: 0.75rem;
    height: 100%;
}

.header__search__submit {
    background-color: transparent;
    cursor: pointer;
    left: calc(100% - 2.5rem);
    position: relative;
    top: -75%;
}

.header__search__submit img {
    opacity: 0.5;
}

.btn--header {
    margin-left: auto;
    width: 8.125rem;
}

/*Tablet*/
@media screen and (max-width: 850px) {
    .header {
        height: 4.5rem;
        padding: 0 1rem;
    }
    .header .logo {
        height: 2.5rem;
        width: 7rem;
    }
    .btn--header {
        font-size: 0.875rem;
        width: 10.375rem;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    .header{
        justify-content: space-evenly;
        gap: 0;
    }
    .header__search {
        height: auto;
        order: 3;
        width: auto;
    }
    .header__search__input {
        display: none;
    }
    .header__search__submit{
        position:static;
    }
    .header__search__submit img {
        opacity: 1;
    }    
    .btn--header {
        margin-left: 0;
        width: 8.312rem;
    }
}
