.header {
    align-items: center;
    display: flex;
    gap: 2rem;
    height: 7.2rem;
    padding: 0 6rem;
}

.header__search {
    height: 2.5rem;
    width: 35%;    
}

.header__search__input {
    background-color: var(--color-background-search);
    border-radius: 20px;
    font-size: 0.75rem;
    height: 100%;
    padding: 0.5rem 1rem;
    width: 100%;
}

.header__search__submit {
    background-color: transparent;
    border: none;
    left: calc(100% - 3rem);
    position: relative;
    top: -80%;
}

.header__search__submit img {
    opacity: 0.5;
}

.header__btn-login {
    background-color: transparent;
    border: 1px solid var(--color-100);
    color: var(--color-100);
    margin-left: auto;
    width: 8.125rem;
}

.header__btn-login:hover {
    background-color: var(--color-20);
}

/*Tablet*/
@media screen and (max-width: 768px) {
    .header {
        height: 4.5rem;
        padding: 0 1rem;
    }
    .header .logo {
        height: 1.75rem;
        width: 6.25rem;
    }
    .header__btn-login {
        font-size: 0.875rem;
        height: 2.5rem;
        width: 10.375rem;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    .header{
        justify-content: space-evenly;
        gap: 0;
    }
    .header__search {
        height: auto;
        order: 3;
        width: auto;
    }
    .header__search__input {
        display: none;
    }
    .header__search__submit{
        position:static;
    }
    .header__search__submit img {
        opacity: 1;
    }    
    .header__btn-login {
        margin-left: 0;
        width: 8.312rem;
    }
}